@{
    ViewData["Title"] = "Encryption";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Encryption</li>
  </ol>
</nav>

<h1>@ViewData["Title"]</h1>

<ul class="list-group">
    <li class="list-group-item"><a asp-action="Aes">AES</a></li>
</ul>